h1 {
    color:blueviolet; 
    background-color:black;
    text-align:center;
    font-family:Impact
}

h2 {

    color: white;
    background-color:pink;
    text-align:center;
    font-family:Arial
}

h4 {color:aqua;
    text-align:left;
    font-family: sans-serif
    
}

#ordenador{ 
  border-top: 4px dotted palevioletred;
  float: right
   
}
